@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dice-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}
.dice-container h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgb(182, 0, 0), rgb(0, 0, 0), rgb(3, 255, 87), rgb(255, 153, 0));
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 3s infinite alternate;
    display: inline-block;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
.dice-inner {
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 25px 40px;
}
.dice-history {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    border: 1px solid black;
    border-radius: 14px;
    align-items: center;
}
.dice-history ul li {
    list-style: none;
}
.dice-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.dices {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.dice {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    position: relative;
    border-radius: 7px;
}
.dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
button {
    width: 34%;
    padding: 20px 25px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    
}
.red-dot {
    background-color: red !important;
}